form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 35%;
  height: 500px;
  padding: 3rem;
  background-color: #26272724;
  border-radius: 1rem;
  margin: auto;
}

label {
  font-size: 1.2rem;
}

form > div {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 150px auto;
  grid-template-rows: 2rem;
}

.gender {
  grid-template-columns: 40% 6rem;
}

.countries-wrapper {
  grid-template-columns: 40% auto;
}

.agreement-wrapper {
  grid-template-columns: 65% auto;
}

a:hover {
  color: #767676;
}

.btn label,
.submit {
  display: inline-block;
  width: 6rem;
  height: 2rem;
  line-height: 28px;
  text-align: center;
  color: #1a0b04;
  background-color: #f5f5f5;
  cursor: pointer;
  border: solid 1px #767676;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  transition-property: box-shadow border-radius;
  transition-duration: 0.7s;
}

.submit {
  align-self: center;
  background-color: white;
  box-shadow: 1px 2px 0px #75a0fd;
}

.btn input {
  display: none;
}

.btn-male input:checked ~ label,
.btn-female input:checked ~ label {
  background-color: #50e23dc7;
  border: solid 1px #767676;
  color: #fff;
}

.agreement-checkbox {
  width: 1.5rem;
  height: 1.5rem;
}
