.header {
  display: flex;
  border-bottom: 1px solid #a8b9c2;
  color: #607d8b;
}

h3 {
  margin-left: 2rem;
  margin-right: 1rem;
}

a:hover {
  text-decoration: underline #607d8b;
  transition: ease-in 0.4s;
}

.link-active.link {
  text-decoration: underline #607d8b;
}

.link {
  color: #607d8b;
  text-decoration: none;
}

//ERROR

.error-wrapper {
  text-align: center;
}
