@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
  background-image: linear-gradient(#fbffef, #f2f4fa);
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: "Raleway";
  color: #607d8b;
  margin: 0;
  height: 100vh;
}

.search-for-smth {
  margin: 6rem auto 20rem;
}

.one-article-wrapper {
  background-image: linear-gradient(#fbffef, #f2f4fa);
  box-shadow: 1px 2px 7px 0px #607d8b;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 1.5rem;
  padding: 1rem;
  height: fit-content;
  width: 80%;
  border-radius: 0.6rem;
  transition: 1s;
}

.one-article-wrapper > img {
  width: 100%;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 2px 0px #030b13;
  font-size: 4rem;
  margin: 0;
}

.cards-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btns-for-sort-wrapper,
.prev-next-btns-wrapper {
  display: flex;
  justify-content: center;
}

.sort-by-label {
  margin-right: 5px;
}

/*SEARCH*/

.search {
  background: #fbffef;
  height: 40px;
  border-radius: 40px;
  border: 4px solid #a8b9c2;
  width: 40%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem auto;
  transition: ease-in 0.4s;
}

.search:hover {
  width: 42%;
}

.search-btn {
  background-color: #a8b9c2;
  color: #fcfcef;
  width: 71px;
  height: 67px;
  margin-right: -3px;
  border-radius: 50%;
  border: 3px solid #a8b9c2;
  display: flex;
  justify-content: center;
  align-items: center;
}

::placeholder {
  color: #44586b;
}

.search-btn > svg {
  width: 2.4rem;
}

.search-btn:hover > svg {
  filter: drop-shadow(2px 3px 0px #44586b);
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  font-size: 1.2rem;
  line-height: 40px;
  width: 100%;
  padding: 0 1.2rem;
  color: #44586b;
}
